@import "tailwindcss";

@layer base {
  html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #f8fafc; /* gray-50 */
    color: #0f172a; /* slate-900 */
    font-family: 'Inter', sans-serif;
  }
}
