@import "tailwindcss";

@layer base {
  html, body, #root {
    
    height: 100dvh;  
    overflow: hidden; 
    
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #f8fafc;
    color: #0f172a;
    font-family: 'Inter', sans-serif;
  }
}